@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema Poseidon */
body.poseidon {
  background-color: #0d3b66;
  color: #e0f7fa;
}
body.poseidon .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  #00BFFF;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.poseidon .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.poseidon p{
  color: #00BFFF
}
body.poseidon .navbar {
  color: #87CEFA
}
body.poseidon .navbar a{
  color: #87CEFA
}
body.poseidon .navbar a:hover {
  color: #00BFFF;
}
body.poseidon .titulo a{
  color: #00BFFF;
}
body.poseidon .bolt{
  background-image: url('../assets/imgs/poseidon.png');
  width: 30px;
  height: 35px;
  top: 0px  
}
body.poseidon .infoPercy p{
  color: white;
}
/* Tema Hades */
body.hades {
  background-color: #1c1c1c;
  color: #343434;
}
body.hades .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  red;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.hades .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.hades p{
  color: #FF0000;

}
body.hades .navbar{
  color: #FF0000
}
body.hades .navbar a{
  color: #FF0000;
}
body.hades .navbar a:hover {
  font-weight: bold;
  color: #DC143C;

}
body.hades .titulo a{
  color: #FF0000;
}
body.hades .bolt{
  background-image: url('../assets/imgs/hades.png');
  width: 40px;
  height: 40px;
}
body.hades .infoPercy p{
  color: white;
}
/* Tema Zeus */
body.zeus {
  color: #333;
}
body.zeus .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  #FFD700;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.zeus .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.zeus p{
  color: #FFD700
}
body.zeus .navbar{
  color: #FFD700
}
body.zeus .navbar a{
  color: #FFD700
}
body.zeus .navbar a:hover {
  color: #ffd60a;
}
body.zeus .titulo a{
  color: #FFD700;
}
body.zeus .infoPercy p{
  color: white;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background-color: black;
  background-image: url('../assets/imgs/e994ff5019046b02f3ac9ad1aa79e4ce1685624efe61283eb0e5be4d29fea6fa.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position:relative;
}
body::before{
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}


:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(190vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  #EAEAEA;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}

.header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #EAEAEA;
  display: inline-block;
  transition: .3s;
}

.header a:hover{
  transform: scale(1.05);
}

#fraseContainer{
  display: none;
}

.agora {
  font-weight: 800;
}

.navbar{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  margin-left: 25px;
  font-size: 14px;
  position: relative;
}
.navbar #loginBtn{
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 20px;
  
}

.navbar a {
  transition: 0.5s;

}

.navbar a:hover{
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  font-weight: bold;
} 

.titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 28px;
}

.titulo .inicial{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 28px;
}

.bolt{
    width: 40px;
    height: 40px;
    background-image: url('../assets/imgs/zeus.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -4px;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  width: 100%;
  height: 100vh;
  color: white;
  /* background-image: url('../assets/imgs/e994ff5019046b02f3ac9ad1aa79e4ce1685624efe61283eb0e5be4d29fea6fa.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  position:relative;
}

/* .banner::before {
  /* content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6); 
}  */

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 3000px;
  text-align: left;
  position: relative;
  z-index: 1;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-align: center;
}

.banner .container span {
  font-weight: 800;
}
 /* .banner .tituloPercy{
  width: 50%;
  height: 15vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  align-items: center;
} */
.contPercy{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
    
}
.imgPercy img{
    width: 650px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(212, 127, 22);
    margin-top: 150px;
}
.infoPercy{
    width: 85%;
    margin-right: 30px;
    color: white;
    text-align: right;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}
.textos{
  font-size: 25px;
  width: 145%;
  margin-left: -200px;
} 
.direita{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tituloPercy{
    margin-bottom: 675px;
    margin-right: -100px;
}
.tituloPercy h3{
    font-size: 38px;
    color: #00BFFF;
}
.tituloPercy img{
  width: 45px;
}
.contPercy2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    gap: 80px;
    
}
.infoPercy2{
    width: 55%;
    color: white;
    text-align: left;
}
.tituloPercy2 h3{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 54px;
    margin-bottom: 30px;
}
.tituloPercy2 img{
    width: 45px;
}
.texto2 p{
    font-size: 22px;
    line-height: 1.8;
}
.imgPercy2 img{
    width: 650px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(212, 127, 22);
}
.contPercy3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    gap: 80px;
}
.infoPercy3{
    width: 55%;
    color: white;
    text-align: left;
}
.tituloPercy3 h3{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 58px;
    margin-bottom: 30px;
    color: #00bfff;
}
.tituloPercy3 img{
    width: 50px;
}
.texto3 p{
    font-size: 22px;
}
.imgPercy3 img{
    width: 650px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(212, 127, 22);
}
.botaoPers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    padding-bottom: 120px;
} 
.btnPersonagens{
    padding: 18px 40px;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Cinzel', serif;
    background: #00bfff52;
    transition: .2s;
    box-shadow: 0 0 15px rgba(0,191,255,.25);
}
.btnPersonagens:hover{
  transform: scale(1.02);
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  background-image: url('../assets/imgs/login2.jpeg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 0  
} 

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

.login .inicial{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 425px;
  background-color: rgb(19, 64, 116, 0.4);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #EAEAEA;
  flex-direction: column;
  padding: 30px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input{
  border: 2px solid #2A2F3A;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #2A2F3A;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: 'Cinzel', serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #B03A48;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input{
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: 'Cinzel', serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}