html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Cinzel', serif;
}
.contGrover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 180px 120px 120px;
    background-image: url('../assets/imgs/groverFundo.jpeg');
    background-size: 100% 950px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}
.imgGrover img{
    width: 420px;
    height: 620px;
    object-fit: cover;
    border: 3px solid rgba(92, 201, 116, 0.144);
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(92, 201, 116, 0.144);
}
.infoGrover{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.tituloGrover h3{
    display: flex;
    align-items: center;
    font-size: 54px;
    color: #f5e6c8;
    gap: 15px;
    text-align: center;
    white-space: nowrap
}
.tituloGrover h3{
    font-size: 38px;
    width: 500px;
    margin-bottom: 475px;
    margin-right: -800px;
    margin-left: 75px;
}
.textos{
    width: 100%;
}
.textos p{
    width: 100%;
    font-size: 22px;
    line-height: 1.5;
    color: #e8dcc5;
    text-align: justify;
}
.contGrover2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    padding: 180px 120px 120px;
    background-image: url('../assets/imgs/groverFundo.jpeg');
    background-size: 100% 950px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}
.imgGrover2 img{
    display: flex;
    justify-content: right;
    width: 550px;
    border: 3px solid rgba(92, 201, 116, 0.144);
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(92, 201, 116, 0.144);
}
.infoGrover2{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.tituloGrover2 h3{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 54px;
    margin-bottom: 30px;
    color: #f5e6c8;
}
.textos2 p{
    font-size: 22px;
    color: #e8dcc5;
    text-align: justify;
}
.tituloGrover3 h3{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 50px;
    margin-bottom: 30px;
    color: #f5e6c8;
}
.imgGrover3 img{
    margin-top: 75px;
    display: flex;
    justify-content: right;
    width: 650px;
    border: 3px solid rgba(92, 201, 116, 0.144);
    border-radius: 22px;
    box-shadow: 0 0 30px rgba(92, 201, 116, 0.144);
}
    