body.poseidon {
  background-color: #0d3b66;
  color: #e0f7fa;
}
body.poseidon .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  #00BFFF;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.poseidon .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.poseidon p{
  color: #00BFFF
}
body.poseidon .navbar {
  color: #87CEFA
}
body.poseidon .navbar a{
  color: #87CEFA
}
body.poseidon .navbar a:hover {
  color: #00BFFF;
}
body.poseidon .titulo a{
  color: #00BFFF;
}
body.poseidon .bolt{
  background-image: url('../assets/imgs/poseidon.png');
  width: 30px;
  height: 35px;
  top: 0px  
}
body.poseidon .infoPercy p{
  color: white;
}
/* Tema Hades */
body.hades {
  background-color: #1c1c1c;
  color: #343434;
}
body.hades .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  red;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.hades .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.hades p{
  color: #FF0000;

}
body.hades .navbar{
  color: #FF0000
}
body.hades .navbar a{
  color: #FF0000;
}
body.hades .navbar a:hover {
  font-weight: bold;
  color: #DC143C;

}
body.hades .titulo a{
  color: #FF0000;
}
body.hades .bolt{
  background-image: url('../assets/imgs/hades.png');
  width: 40px;
  height: 40px;
}
body.hades .infoPercy p{
  color: white;
}
/* Tema Zeus */
body.zeus {
  color: #333;
}
body.zeus .header {
  height: var(--tamanho-header);
  border-bottom: 2px solid  #FFD700;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 100;

  position: fixed;
  background-color: black;
  transition: background-color, border-bottom 0.3s ease-in-out, padding 0.4s ease-in-out ;
}
body.zeus .header.transparente{
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}
body.zeus p{
  color: #FFD700
}
body.zeus .navbar{
  color: #FFD700
}
body.zeus .navbar a{
  color: #FFD700
}
body.zeus .navbar a:hover {
  color: #ffd60a;
}
body.zeus .titulo a{
  color: #FFD700;
}
body.zeus .infoPercy p{
  color: white;
}
html, body{
    background-image: url('../assets/imgs/fundoProv.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
    
}
.containerPer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 148px 40px;
    gap: 20px;
    position: relative;
    z-index: 10;
}
.botaoPersonagens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnPerso{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 28px;
    border-radius: 12px;
    background: #c9a45c;
    color: #f5e6c8;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    transition: .3s;
    opacity: .5;
    margin-top: 12px;
}
.btnPerso.percy{
    background: #00BFFF;
    font-weight: 800;
    color: #c8eeff;
}
.btnPerso.grover{
    background: #3f6b3f;
    color: #d8e6c3
}
.cardPersonagem{
    transition: .3s ease;
}
.cardPers::before{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
    transition: .3s ease;
}
.cardPersonagem img{
    width: 320px;
    opacity: .5;
    transition: .3s ease;
}
.cardPersonagem:hover img,
.cardPersonagem:hover .btnPerso{
    opacity: 1;
    transform: scale(1.03);

}